################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/seving
/src/seving.core/bin/Debug/net6.0
/src/seving.core/obj
/src/seving.core.integratedTests/bin/Debug/net6.0
/src/seving.core.integratedTests/obj
/src/seving.core.tests/bin/Debug/net6.0
/src/seving.core.tests/obj
/src/.vs/ProjectEvaluation/seving.projects.v2
/src/.vs/ProjectEvaluation/seving.metadata.v2
/src/.vs/ProjectEvaluation
